.irqtu { 
  margin-right: 17px;
  border-top-width: 51px;
  padding-bottom: 86px;
  border-left-width: 52px;
  border-bottom-width: 33px;
  padding-bottom: 53px;
  border-left-width: 7px;
  margin-left: 68px;
  padding-right: 73px;
  padding-left: 74px;
  border-left-width: 19px;
  padding-bottom: 47px;
  border-right-width: 66px;
  margin-right: 1px;
  padding-bottom: 78px;
  margin-right: 61px;
  padding-bottom: 6px;
  margin-left: 34px;
  margin-bottom: 37px;
  border-top-width: 64px;
  padding-top: 74px;
  margin-left: 37px;
  margin-top: 88px;
  font-size: 43px;
  padding-right: 74px;
  font-size: 83px;
  border-top-width: 43px;
  border-right-width: 40px;
  border-top-width: 18px;
  border-bottom-width: 90px;
  margin-bottom: 20px;
  padding-left: 27px;
  margin-top: 70px;
  border-left-width: 49px;
  padding-right: 67px;
  border-top-width: 17px;
  padding-right: 97px;
  font-size: 60px;
  padding-bottom: 33px;
  border-top-width: 55px;
  padding-bottom: 31px;
  padding-left: 6px;
  margin-right: 3px;
  border-bottom-width: 21px;
  padding-right: 78px;
  padding-top: 39px;
  padding-right: 24px;
  border-bottom-width: 54px;
  line-height: 71px;
  margin-bottom: 22px;
  padding-bottom: 95px;
  line-height: 92px;
  margin-bottom: 16px;
}
