.irqtu { 
  margin-right: 17px;
  border-top-width: 51px;
  margin-top: 81px;
  padding-bottom: 67px;
  padding-right: 58px;
  margin-bottom: 47px;
  padding-top: 11px;
  font-size: 30px;
  font-size: 4px;
  margin-bottom: 69px;
  padding-left: 6px;
  line-height: 75px;
  margin-bottom: 27px;
  padding-right: 39px;
  margin-right: 87px;
  border-right-width: 12px;
  padding-top: 55px;
  line-height: 62px;
  padding-bottom: 14px;
  padding-bottom: 8px;
  line-height: 41px;
  padding-bottom: 16px;
  font-size: 83px;
  margin-top: 57px;
  line-height: 93px;
  padding-right: 47px;
  border-right-width: 70px;
  margin-left: 87px;
}
